<!DOCTYPE html>
<html>
  <head>
    <title>Alphablog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %> 
  
    <link href="https://fonts.googleapis.com/css?family=Jura&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>
<body>
<%= render 'layouts/navigation' %>
<%= render 'layouts/messages' %>

<div class="container">
<%= yield %>
</div>
<div id="sticky-footer" class="py-3 text-white">
  Copyright &copy; The Complete Ruby on Rails Developer<span style="color:black"> by Mashrur Hossain</div>
</div>
</body>

</html>
